@use './variables' as *;
@use './functions' as *;
@use './mixins' as *;

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: PxToRem(16);
}

i {
  height: PxToRem(24);
  width: PxToRem(24);
}
