@use './variables' as *;
@use './functions' as *;
@use './mixins' as *;

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: px_to_rem(16);
}

.even-columns{
    --min-width:200px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
}