@tailwind base;
@tailwind components;
@tailwind utilities;

/*Poppins Fonts*/
@layer base {
	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 100;
		font-display: swap;
		src: url('../fonts/poppins/Poppins-Thin.ttf') format('TrueType'),
			url('../fonts/poppins/woff/Poppins-Thin.woff') format('woff');
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 200;
		font-display: swap;
		src: url('../fonts/poppins/Poppins-ExtraLight.ttf') format('TrueType'),
			url('../fonts/poppins/woff/Poppins-ExtraLight.woff') format('woff');
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url('../fonts/poppins/Poppins-Light.ttf') format('TrueType'),
			url('../fonts/poppins/woff/Poppins-Light.woff') format('woff');
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('../fonts/poppins/Poppins-Regular.ttf') format('TrueType'),
			url('../fonts/poppins/woff/Poppins-Regular.woff') format('woff');
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('../fonts/poppins/Poppins-Medium.ttf') format('TrueType'),
			url('../fonts/poppins/woff/Poppins-Medium.woff') format('woff');
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url('../fonts/poppins/Poppins-SemiBold.ttf') format('TrueType'),
			url('../fonts/poppins/woff/Poppins-SemiBold.woff') format('woff');
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('../fonts/poppins/Poppins-Bold.ttf') format('TrueType'),
			url('../fonts/poppins/woff/Poppins-Bold.woff') format('woff');
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url('../fonts/poppins/Poppins-ExtraBold.ttf') format('TrueType'),
			url('../fonts/poppins/woff/Poppins-ExtraBold.woff') format('woff');
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: url('../fonts/poppins/Poppins-Black.ttf') format('TrueType'),
			url('../fonts/poppins/woff/Poppins-Black.woff') format('woff');
	}
}

@layer base {
	* {
		font-family: 'Poppins';
	}

	.icon {
		@apply size-6;
	}
}

/*autofill fix*/
@layer base {
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-background-clip: text;
		-webkit-text-fill-color: #000;
		transition: background-color 5000s ease-in-out 0s;

		box-shadow: inset 0 0 20px 20px #fff;
		border-radius: inherit;
	}
}
